body {
    font-family: Arial;
    margin: 20px;
}

.panel {
    display: grid;
    gap: 10px;
    width: 300px;
}

canvas {
    border: 1px solid #333;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
